body{
  background-color:#E7E7FF;
  padding:1px;
  margin:0px;
  font-family:sans-serif;
}

.content {
  display: flex;
  flex-direction:column;
  flex-basis: 1 100%;
  margin:0px;
}

.content-slice {
  border: none;
  padding:20px;
}

.header {
  background-color:#E7E7FF;
  border-bottom:3px solid #333377;
  display:flex;
  flex-direction:row;
}

.spread {
  display: flex;
  width:100%;
  justify-content:space-between;
  flex-basis:100%;
}

.user {

}

.middle {
  display: flex;
  justify-content:center;
  background-color:#EEEEEE;
}

.middle form {

}

.middle input[type="submit"] {
  margin-top:20px;
  width:100%;
}

.middle .message {
  margin-bottom:3px;
  padding:10px;
  border: 1px dotted gray;
  width: 50%;
  font-weight:300;
  text-align:center;
  background-color:#FFFFEE;
}

.footer {
  border-top:3px solid #333377;
  background-color:#E7E7FF;
}

.content-box {
  align-self:center;
  border:1px dotted black;
  background-color:#DEDEDE;
  padding:10px;
  min-width:30em;
  min-height:8em;
}

.title {
  text-align:center;
  font-weight:normal;
  font-size:2em;
}

.columns {
  display: flex;
  flex-direction:column;
  align-items:center;
}

.invite-code-list {
  min-width: 60%;
}

li {
  background-color: #EAEAEA;
  border-left: 1px dotted gray;
  border-right: 1px dotted gray;
  border-top: 1px dotted gray;
  padding:10px;
  display:flex;
  justify-content:space-between;
}
li:nth-of-type(even) {
  background-color: #E4E4E4;
}
li:last-of-type {
 border-bottom: 1px dotted gray;
}

.study-list {
  min-width:60%;
}

.study {
  min-height:3.5em;
}
.study:hover {
  font-weight:bold;
  border: 1px solid gray;
}
.study a{

}

.button {
  background:#CCCCFF;
  padding:2px;
  border-radius:4px;
  border:1px solid #9999EE;
  font-weight:normal;
  text-decoration:none;
  margin:2px;
}
.button:hover{
  background:#AAAAEE;
}

h1,h2,h3 {
  border-bottom:1px dotted #9999EE;
  min-width:40%;
  text-align:center;
  font-weight:normal;
}

.delete-study{
  margin-top:30px;
}

.mr {
  margin-right:10px;
}

url {
  display:inline-block;
  padding:5px;
  font-family:monospace;
  background:#DEDEDE;
  border:1px solid #CECECE;
  border-radius:3px;
  color:#0000CC;
  font-weight:bold;

}

.status {
  display:flex;
  flex-direction:column;
}

.status span {
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
  width:100%;
  border-bottom: 1px dotted gray;
  margin-bottom: 2px;
  padding:5px;
}

.status b {
    margin-right:30px;
}
