<html>
  <head>
    <title>Study Manager [{{ study.id }}]</title>
    <link rel="stylesheet" href="{{url_for('send_css',path='manage.css')}}" />
  </head>
  <body>
    <div class="content">
    <div class="content-slice header columns">
      <div class="spread">
        <div class="back"><a href="{{ url_for('manage_specific_study', study=study.id) }}">Back to "{{ study.id }}"</a></div>
        <div class="user">Logged in as <i>{{ user }}</i> [<a class="logout" href="{{ url_for('logout') }}">logout</a>]</div>
      </div>
      <div class="title">Study Manager</div>
    </div>
    <div class="content-slice middle columns">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
      <div class="message">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <h2>Activate <i>{{ study.id }}</i> ?</h2>
      <form action="" method="POST">
      <div class="list">
        <span class="row">
          <span class="label">
            Number of participant sessions<br/>
            <small>Enter <i>unlimited</i> for no session limit.</small>
          </span>
          <input type="text" name="numSessions" value="unlimited"></input>
          <br/>
        </span>
        <span class="row">
          <span class="label">Study Accessible by</span>
          <select name="accessType">
          <option value="invite-only">Invite Only</option>
          <option value="invite-and-url">Invite and Secret URL</option>
          <option value="url-only">Secret URL Only</option>
          <option value="anyone">Anyone</option>
          </select>
        </span>
        <span class="row">
          <span class="label">Completion URL</span>
          <input type="text" name="completionUrl"></input>
        </span>
        <span class="row">
          <span class="label">Cancel URL</span>
          <input type="text" name="cancelUrl"></input>
        </span>
        <span class="row">
          <span class="label">Briefing URL</span>
          <input type="text" name="briefingUrl"></input>
        </span>
        <span class="row">
          <span class="label">Debriefing URL</span>
          <input type="text" name="debriefingUrl"></input>
        </span>
        <span class="row">
          <span class="label">Save data of incomplete sessions</span>
          <input type="checkbox" name="saveOnIncomplete" checked></input>
        </span>
        <input type="submit" value="Activate"></input>
      </div>
      </form>
    </div>
    <div class="content-slice footer">
    </div>
    </div>
  </body>
</html>
