<html>
  <head>
    <title>Study Manager [{{ study.id }}]</title>
    <link rel="stylesheet" href="{{url_for('send_css',path='manage.css')}}" />
  </head>
  <body>
    <div class="content">
    <div class="content-slice header columns">
      <div class="spread">
        <div class="back"><a href="{{ url_for('manage_specific_study', study=study.id) }}">Back to "{{ study.id }}"</a></div>
        <div class="user">Logged in as <i>{{ user }}</i> [<a class="logout" href="{{ url_for('logout') }}">logout</a>]</div>
      </div>
      <div class="title">Study Manager</div>
    </div>
    <div class="content-slice middle columns">
      <h2>Deactivate <i>{{ study.id }}</i> ?</h2>
      <form action="" method="POST">
        <span class='mr'>Also revoke invite codes</span><input type="checkbox" name="revoke-codes"></input>
        <input type="submit" value="Deactivate"></input>
      </form>
    </div>
    <div class="content-slice footer">
    </div>
    </div>
  </body>
</html>
