<html>
  <head>
    <title>Study Manager [{{ study.id }}]</title>
    <link rel="stylesheet" href="{{url_for('send_css',path='manage.css')}}" />
  </head>
  <body>
    <div class="content">
    <div class="content-slice header columns">
      <div class="spread">
        <div class="back"><a href="{{ url_for('manage_specific_study', study=study.id) }}">Back to "{{ study.id }}"</a></div>
        <div class="user">Logged in as <i>{{ user }}</i> [<a class="logout" href="{{ url_for('logout') }}">logout</a>]</div>
      </div>
      <div class="title">Study Manager</div>
    </div>
    <div class="content-slice middle columns">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
      <div class="message">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <h2>Invite codes for the <i>{{ study.id }}</i> study</h2>
      {% if codes|length > 0 %}
        <ul class="invite-code-list">
        {% for code in codes %}
          <li class="invite-code">
          <a href="{{ url_for('participate_code', code=code['code'], _external=True) }}">{{ code['code'] }}</a>
          <span>One session</span>
          <span>Expires {{ code['timeout'] }}</span>
          </li>
        {% endfor %}
        </ul>
        <form action="" method="POST">
          <input type="hidden" name="revoke-codes" />
          <input type="submit" value="Revoke All Invite Codes"></input>
        </form>
        {% else %}
        No active invite codes
      {% endif %}
      <h3>Generate a new code</h3>
      <form action="" method="POST">
        Code duration:
        <select name="timeout">
        <option value="hour">One hour</option>
        <option value="day">One day</option>
        <option value="week">One week</option>
        </select>
        <input type="submit" value="Generate"></input>
      </form>
    </div>
    <div class="content-slice footer">
    </div>
    </div>
  </body>
</html>
