<html>
  <head>
    <title>Study Manager [{{ study }}]</title>
    <style>
      .inviteCode{
        border:1px dotted black;
        padding:10px;
        margin-top:20px;
        display:inline-block;
      }
    </style>
  </head>
  <body>
    <div class="user">Logged in as <i>{{ user }}</i> [<a class="logout" href="{{ url_for('logout') }}">logout</a>]</div>
    <div class="back"><a href="../">Back to "{{ study }}"</a></div>
    <br/>
    <h2>Invite code for the "{{ study }}" study</h2>
    This url gives access to <i>one run</i> of this study.<br/>
    <a class="inviteCode" href="{{ url_for('participate_code', code=code, _external=True) }}">{{ url_for('participate_code', code=code, _external=True) }}</a>
  </body>
</html>
