<html>
  <head>
    <title>Study Manager</title>
    <link rel="stylesheet" href="{{url_for('send_css',path='manage.css')}}" />
  </head>
  <body>
    <div class="content">
    <div class="content-slice header columns">
      <div class="title">Study Manager</div>
    </div>
    <div class="content-slice middle">
    <form method="post" action="./">
      Username
      <input type="text" name="user"></input><br/>
      Password
      <input type="password" name="pass"></input><br/>
      <input class="btn-login" type="submit" value="Login"></input>
    </form>
    </div>
    <div class="content-slice footer">
    </div>
    </div>
  </body>
</html>
