<html>
  <head>
    <title>Study Manager [{{ study.id }}]</title>
    <link rel="stylesheet" href="{{url_for('send_css',path='manage.css')}}" />
  </head>
  <body>
    <div class="content">
    <div class="content-slice header columns">
      <div class="spread">
        <div class="back"><a href="{{ url_for('manage_view') }}">Back to studies list</a></div>
        <div class="user">Logged in as <i>{{ user }}</i> [<a class="logout" href="{{ url_for('logout') }}">logout</a>]</div>
      </div>
      <div class="title">Study Manager</div>
    </div>
    <div class="content-slice middle columns">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
      <div class="message">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <h2>{{ study.id }}</h2>
      <div class="list">
      <span class="row">
        <span class="label">Current status</span>
        <span>
          {% if study.is_active() %}
            active [ <a href="{{ url_for('run_details', study=study.id) }}">run {{ study.run.id }}</a> ]
          {% else %}
            inactive
          {% endif %}
        </span>
      </span>
      {% if study.is_active() %}
      <span class="row">
          <span class="label">Completed sessions</span>
          {{ study.get_num_sessions()}}
      </span>
      <span class="row">
        <span class="label">Sessions remaining</span> {{('{} / {}'.format(
          study.get_remaining_sessions(), study.get_total_sessions()
        ) if study.has_session_limit() else 'unlimited'
      )}}</span>
      <span class="row">
        <span class="label">Accessible by</span> {{ study.get_access_type() }}
      </span>
        {% if study.has_secret_url() %}
      <span class="row">
        <span class="label">Secret URL</span> <url>{{ url_for('participate_code', code=study.get_secret_url(), _external=True) }}</url>
      </span>
        {% endif %}
        {% if study.has_completion_url()  %}
      <span class="row">
        <span class="label">Completion URL</span> <url>{{study.get_completion_url()}}</url>
      </span>
        {% endif %}
        {% if study.has_cancel_url()  %}
      <span class="row">
        <span class="label">Cancel URL</span> <url>{{study.get_cancel_url()}}</url>
      </span>
        {% endif %}
        {% if study.has_briefing_url()  %}
      <span class="row">
        <span class="label">Briefing URL</span> <url>{{study.get_briefing_url()}}</url>
      </span>
        {% endif %}
        {% if study.has_debriefing_url()  %}
      <span class="row">
        <span class="label">Debriefing URL</span> <url>{{study.get_debriefing_url()}}</url>
      </span>
        {% endif %}
      <span class="row">
        <span class="label">Save incomplete data?</span> {{
          'Yes' if study.run.save_incomplete_data else 'No'
        }}
      </span>
        {% if study.has_session_args()  %}
    <span class="row">
      <span class="label">Parameters</span>
      <span class="list">
        {% for key,value in study.get_session_args().items() %}
        <span class="row">
          {{key}}={{value}}
        </span>
        {% endfor %}
      </span>
    </span>
        {% endif %}
      {% endif %}
      </div>
      <h3>Options</h3>
      {% if study.is_active() %}
      {% if study.get_access_type() == 'invite-only' or study.get_access_type() == 'invite-and-url' %}
      <a class="get-invite-code button" href="{{ url_for('create_participant_code', study=study.id) }}">Invite Codes...</a>
      {% endif %}
      <a class="deactivate-study button" href="{{url_for('deactivate_study', study=study.id)}}">Deactivate...</a>
      {% else %}
      <a class="activate-study button" href="{{url_for('activate_study', study=study.id)}}">Activate...</a>
      {% endif %}
      <a class="download-data button" href="{{url_for('download_study_data', study=study.id)}}" download>Download Data</a>
      {% if is_admin  %}
      <h3>Admin Options</h3>
      <a class="button" href="{{url_for('clear_sessions', study=study.id)}}">Close ALL Sessions</a>
      {% endif %}
      <h3>Updating study files</h3>
      {% if study.is_active() %}
      <i>Study is currently running; deactivate it before changing files.</i>
      {% else %}
      <form action="./" method="POST" enctype="multipart/form-data" >
        Html folder
        <input type="file" name="newfiles" webkitdirectory mozdirectory multiple=""></input>
        <br/>
        <input type="submit" value="Upload new files"></input>
      </form>
      {% endif %}
      <a style="color:red; font-size:10px;" class="delete-study button" href="{{ url_for('delete_study', study=study.id) }}">delete this study</a>
    </div>
    <div class="content-slice footer">
    </div>
    </div>
  </body>
</html>
