<html>
  <head>
    <title>Study Manager [{{ study }}]</title>
  </head>
  <body>
    <div class="user">Logged in as <i>{{ user }}</i> [<a class="logout" href="{{ url_for('logout') }}">logout</a>]</div>
    <div class="back"><a href="../">Back to studies list</a></div>
    <br/>
    {% if message is not none %}
    <div class="message">{{ message }}</div>
    {% endif %}
    <h2>Edit Study: {{ study }}</h2>
    <h3>Updating study files</h3>
    <form action="./" method="POST" enctype="multipart/form-data" >
      Html folder
      <input type="file" name="newfiles" webkitdirectory mozdirectory multiple=""></input>
      <br/>
      <input type="submit" value="Upload new files"></input>
    </form>
    <br/>
    <br/>
    <a style="color:red; font-size:10px;" class="deleteStudy" href="{{ url_for('delete_study', study=study) }}">delete this study</a>
  </body>
</html>
