<html>
  <head>
    <title>Study Manager</title>
    <link rel="stylesheet" href="{{url_for('send_css',path='manage.css')}}" />
    <script src="js/jquery-3.5.0.min.js"></script>
  </head>
  <body>
    <script type="text/javascript">
    const toggle = function(group) {
      let id = '#group-'+group;
      if($(id).is(":visible")) {
        $(id).hide();
      } else {
        $(id).show();
      }
    };
    </script>
    <div class="content">
    <div class="content-slice header columns">
      <div class="spread">
        <div></div>
        <div class="user">Logged in as <i>{{ user }}</i> [<a class="logout" href="{{ url_for('logout') }}">logout</a>]</div>
      </div>
      <div class="title">Study Manager</div>
    </div>
    <div class="content-slice middle columns">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
      <div class="message">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <h2>My Studies</h2>
      <small>Click on a folder to expand it</small>
      {% for group in groups %}
      <div class="group">
      <h3 onclick="toggle('{{group}}')">{{group}}</h3>
      <span class="group-container" style="display:none;" id="group-{{group}}">
      <ul class="study-list">
        {% for study in groups[group] %}
        <li class="study">
          {{ study.id }}
          <span class="study-status">
          {{ 'active' if study.is_active() else 'inactive' }}
          </span>
          {% if study.is_active() %}
          <span class="sessions-remaining">{{(
            'sessions: {} / {}'.format(
              study.get_num_sessions(),
              study.get_total_sessions() if study.has_session_limit()
              else 'unlimited')
          )}}</span>
          {% endif %}
          <span class="list-options">
          {% if study.is_active() %}
          <a href="{{ url_for('send_study', study=study.id) }}" class="button">view</a>
          {% endif %}
          <a href="{{ url_for('manage_specific_study', study=study.id) }}" class="button">edit</a>
          </span>
        </li>
      {% endfor %}
      </ul>
      </span>
    </div>
      {% endfor %}
      <a class="new-study button" href="{{ url_for('new_study') }}">Add New Study</a>
    </div>
    <div class="content-slice footer">
    </div>
    </div>
  </body>
</html>
