<html>
  <head>
    <title>Study Manager</title>
    <link rel="stylesheet" href="{{url_for('send_css',path='manage.css')}}" />
  </head>
  <body>
    <div class="content">
    <div class="content-slice header columns">
      <div class="spread">
        <div></div>
        <div class="user">Logged in as <i>{{ user }}</i> [<a class="logout" href="{{ url_for('logout') }}">logout</a>]</div>
      </div>
      <div class="title">Study Manager</div>
    </div>
    <div class="content-slice middle columns">
      <h2>My Studies</h2>
      <ul class="study-list">
      {% for study in studies %}
        <li class="study">
          {{ study.id }}
          <span class="study-status">
          {{ 'active' if study.is_active() else 'inactive' }}
          </span>
          <span class="list-options">
          <a href="{{ url_for('send_study', study=study.id) }}" class="button">view</a>
          <a href="{{ url_for('manage_specific_study', study=study.id) }}" class="button">edit</a>
          </span>
        </li>
      {% endfor %}
      </ul>
      <a class="new-study button" href="{{ url_for('new_study') }}">Add New Study</a>
    </div>
    <div class="content-slice footer">
    </div>
    </div>
  </body>
</html>
