<html>
  <head>
    <title>Study Manager [{{ study.id }}]</title>
    <link rel="stylesheet" href="{{url_for('send_css',path='manage.css')}}" />
  </head>
  <body>
    <div class="content">
    <div class="content-slice header columns">
      <div class="spread">
        <div class="back"><a href="../">Back to studies list</a></div>
        <div class="user">Logged in as <i>{{ user }}</i> [<a class="logout" href="{{ url_for('logout') }}">logout</a>]</div>
      </div>
      <div class="title">Study Manager</div>
    </div>
    <div class="content-slice middle columns">
      {% if message is not none %}
      <div class="message">{{ message }}</div>
      {% endif %}
      <h2>{{ study.id }}</h2>
      Current status: {{ 'active' if study.is_active() else 'inactive'}}
      {% if study.is_active() %}
      <span class="sessions-remaining">{{(
        'Sessions remaining: {} / {}'.format(
          study.get_remaining_sessions(), study.get_total_sessions()
        ) if study.has_session_limit() else 'No session limit set.'
      )}}</span>
      <span class="access-type">
        Accessible by: {{ study.get_access_type() }}
      </span>
      {% endif %}
      <h3>Options</h3>
      {% if study.is_active() %}
      {% if study.get_access_type() == 'invite-only' %}
      <a class="get-invite-code button" href="{{ url_for('create_participant_code', study=study.id) }}">Invite Codes...</a>
      {% endif %}
      <a class="deactivate-study button" href="{{url_for('deactivate_study', study=study.id)}}">Deactivate...</a>
      {% else %}
      <a class="activate-study button" href="{{url_for('activate_study', study=study.id)}}">Activate...</a>
      {% endif %}
      <a class="download-data button" href="{{url_for('download_study_data', study=study.id)}}" download>Download Data</a>
      <h3>Updating study files</h3>
      {% if study.is_active() %}
      <i>Study is currently running; deactivate it before changing files.</i>
      {% else %}
      <form action="./" method="POST" enctype="multipart/form-data" >
        Html folder
        <input type="file" name="newfiles" webkitdirectory mozdirectory multiple=""></input>
        <br/>
        <input type="submit" value="Upload new files"></input>
      </form>
      {% endif %}
      <a style="color:red; font-size:10px;" class="delete-study button" href="{{ url_for('delete_study', study=study.id) }}">delete this study</a>
    </div>
    <div class="content-slice footer">
    </div>
    </div>
  </body>
</html>
