<html>
  <head>
    <title>Study Manager [{{ study.id }}]</title>
    <link rel="stylesheet" href="{{url_for('send_css',path='manage.css')}}" />
  </head>
  <body>
    <div class="content">
    <div class="content-slice header columns">
      <div class="spread">
        <div class="back"><a href="{{ url_for('manage_specific_study', study=study.id) }}">Back to "{{ study.id }}"</a></div>
        <div class="user">Logged in as <i>{{ user }}</i> [<a class="logout" href="{{ url_for('logout') }}">logout</a>]</div>
      </div>
      <div class="title">Study Manager</div>
    </div>
    <div class="content-slice middle columns">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
      <div class="message">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <h2>{{ study.id }} run {{ run.id }}</h2>
      <div class="list">
      <span class="row">
          <span class="label">Completed sessions</span>
          {{ study.get_num_sessions()}}
      </span>
      <span class="row">
        <span class="label">Sessions remaining</span>
        {{('{} / {}'.format(
          study.get_remaining_sessions(), study.get_total_sessions()
        ) if study.has_session_limit() else 'unlimited' )}}
      </span>
      <span class="row">
        <span class="label">Accessible by</span> {{ study.get_access_type() }}
      </span>
        {% if study.has_secret_url() %}
      <span class="row">
        <span class="label">Secret URL</span> <url>{{ url_for('participate_code', code=study.get_secret_url(), _external=True) }}</url>
      </span>
        {% endif %}
        {% if study.has_completion_url()  %}
      <span class="row">
        <span class="label">Completion URL</span> <url>{{study.get_completion_url()}}</url>
      </span>
        {% endif %}
        {% if study.has_cancel_url()  %}
      <span class="row">
        <span class="label">Cancel URL</span> <url>{{study.get_cancel_url()}}</url>
      </span>
        {% endif %}
        {% if study.has_briefing_url()  %}
      <span class="row">
        <span class="label">Briefing URL</span> <url>{{study.get_briefing_url()}}</url>
      </span>
        {% endif %}
        {% if study.has_debriefing_url()  %}
      <span class="row">
        <span class="label">Debriefing URL</span> <url>{{study.get_debriefing_url()}}</url>
      </span>
        {% endif %}
      <span class="row">
        <span class="label">Save incomplete data?</span> {{
          'Yes' if study.run.save_incomplete_data else 'No'
        }}
      </span>
    </div>
    {% if study.has_session_args()  %}
    <h3 style="margin-bottom:0px;">Parameter counts</h3>
    <div class="list">
    {% for key,value in study.get_session_args().items() %}
      <span class="row">
        <span class="list">
          <span class="row">
            <span>
            <b>{{key}}</b>=<i>{{value}}</i>
            </span>
          </span>
          {% for kv in study.get_key_value_counts(key) %}
          <span class="row">
            <span>{{kv[0]}}</span>
            <span>{{kv[1]}}</span>
          </span>
          {% endfor %}
        </span>
      </span>
    {% endfor %}
    </div>
    {% endif %}
    </div>
    <div class="content-slice footer">
    </div>
    </div>
  </body>
</html>
